.correct-pos{background:#a62;}
.incorrect-pos{background:#882;}
.info{font-size:0.8em;color:#999}
.progress-empty{background:#444;}
.progress-filled{background:#842;}
.progress-info{font-size:0.8em;}
.try-again{font-size:1.1em;font-weight:bold;}
.incorrect-word{background:#333;text-decoration:line-through;}
.non-attempt{background:#555;}
.winner{color:#5d00a0;font-size:1.5em;}